DEST_PATH=/data/prusa/
ESP32_CAMERA_ADDRESS=192.168.0.20
PRUSA_API_KEY=ChangeMe
PRUSA_MINI_HOST_ADDRESS=192.168.0.21

export DEST_PATH
export ESP32_CAMERA_ADDRESS
export PRUSA_API_KEY
export PRUSA_MINI_HOST_ADDRESS
